* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(192, 67, 67);
    color: white;
    overflow: hidden;
    font-size: 50px;
}

main {
    width: 500px;
    height: 750px;
    background-color: rgb(25, 25, 25);
    border: solid 5px black;
    border-radius: 50px;
}

.visor {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    padding: 10px 0px;
    background-color: gray;
    border: solid 5px rgb(96, 96, 96);
    border-radius: 20px;
}

.numeros-e-operadores {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    width: 100%;
    gap: 10px;
}

.container {
    margin-bottom: 10px;
}

.slider {
    width: 310px;
    height: 94px;
    background-color: rgb(192, 67, 67);
    border: solid 5px #bbb;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: all 500ms ease-in-out;
}

label > .slider::after {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    font-weight: bold;
    z-index: 1;
    transition: all 500ms ease-in-out;
    content: "OFF";
    color: white;
}

.button {
    background-color: #ccc;
    border: none;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: all 500ms ease-in-out;
    box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.toggle-input {
    display: none;
}

.toggle-input:checked ~ .slider {
    background-color: green;
    box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
    0 0 1rem rgba(50, 0, 150, 0.2);
}

.toggle-input:checked ~ .slider > .button {
    left: 220px;
    box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background: #e0e2db;
}

label > .toggle-input:checked ~ .slider:after {
left: 50px;
color: #f1f1ff;
content: "ON";
}

.digitos {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.numeros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.numero {
    padding: 30px 36px;
    font-size: 30px;
    border-radius: 50%;
    background-color: gray;
    border: solid 5px rgb(96, 96, 96);
    color: white;
    font-weight: bold;
    gap: 10px;
}

.numero-0 {
    width: 99%;
    padding: 30px 36px;
    font-size: 30px;
    border-radius: 50px;
    background-color: gray;
    border: solid 5px rgb(96, 96, 96);
    color: white;
    font-weight: bold;
}


aside {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.operador {
    padding: 30px 36px;
    font-size: 30px;
    border-radius: 50%;
    background-color: rgb(203, 138, 16);
    border: solid 5px rgb(179, 119, 9);
    color: white;
    font-weight: bold;
    gap: 10px;
}